# Virtual Environments
venv/
**/venv/
.venv/
env/

# Python
__pycache__/
**/__pycache__/
*.py[cod]

# Node
node_modules/
**/node_modules/
dist/
**/dist/
.vite/

# Environment Variables & Secrets
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
gcp-service-account.json
